<html>
<head>
<title>Activity Raw Dump</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Activity Type</th>
		<th>Start Time</th>
		<th>Start Longitude</th>
		<th>Start Latitude</th>
		<th>End Time</th>
		<th>End Longitude</th>
		<th>End Latitude</th>
		<th>Start at station</th>
    <th>End at station</th>
  </tr>
  </thead>
  <tbody>
  
wlk, Tue Jan 07 2014 08:08:22 GMT-0500 (EST), -73.964, 40.6815, Tue Jan 07 2014 08:08:55 GMT-0500 (EST), -73.964, 40.6815, false, false
wlk, Tue Jan 07 2014 10:28:18 GMT-0500 (EST), -73.964, 40.6815, Tue Jan 07 2014 10:29:52 GMT-0500 (EST), -73.964, 40.6815, false, false
wlk, Tue Jan 07 2014 10:30:11 GMT-0500 (EST), -73.9637, 40.6819, Tue Jan 07 2014 10:31:27 GMT-0500 (EST), -73.9615, 40.6824, false, true
cyc, Tue Jan 07 2014 10:31:27 GMT-0500 (EST), -73.9615, 40.6824, Tue Jan 07 2014 11:17:12 GMT-0500 (EST), -73.9896, 40.7564, true, true
</tbody>
</table>
</body>
</html>
